/* Add CSS Styling */
.odd-number {
    background-color: #e68d8d;
    font-family: "Verdana", "DejaVu", sans-serif;
}

.odd-number.three {
    font-size: 24px;
}

#number-two {
    color: #1515e9;
    font-size: 36px;
}

