body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;

}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 10px;
 
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;

}

ul {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.side-and-cards {
  display: flex;
}

.card-container {
  display: flex;
  flex-grow: 0;
  flex-basis: auto;
  flex-wrap: wrap;
  padding: 30px;
  gap: 30px;

}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  height: 300px;
  width: 300px;
  padding: 10px;
}
