/* Add CSS Styling */

/* The solution with classes

.container .text {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}

*/

/* The solution with the tags*/

div p {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}

